<?xml version="1.0"?>
<config>
    <modules>
        <Etre_EnhancedWysiwyg>
            <version>0.1.0</version>
        </Etre_EnhancedWysiwyg>
    </modules>
    <global>
        <models>
            <etre_enhancedwysiwyg>
                <class>Etre_EnhancedWysiwyg_Model</class>
                <resourceModel>etre_enhancedwysiwyg_resource</resourceModel>
            </etre_enhancedwysiwyg>
            <etre_enhancedwysiwyg_resource>
                <class>Etre_EnhancedWysiwyg_Model_Resource</class>
            </etre_enhancedwysiwyg_resource>
            <cms>
                <rewrite>
                    <wysiwyg_config>Etre_EnhancedWysiwyg_Model_Editorconfig</wysiwyg_config>
                </rewrite>
            </cms>
            <widget>
                <rewrite>
                    <template_filter>Etre_EnhancedWysiwyg_Model_Widget_Template_Filter</template_filter>
                </rewrite>
            </widget>
        </models>
        <blocks>
            <etre_enhancedwysiwyg>
                <class>Etre_EnhancedWysiwyg_Block</class>
            </etre_enhancedwysiwyg>
        </blocks>
        <helpers>
            <etre_enhancedwysiwyg>
                <class>Etre_EnhancedWysiwyg_Helper</class>
            </etre_enhancedwysiwyg>
            <!-- Declaring a second time for our rewrite of CMS_Wysiwyg_Images -->
            <wysiwyg_images>
                <class>Etre_EnhancedWysiwyg_Helper</class>
            </wysiwyg_images>
            <cms>
                <rewrite>
                    <wysiwyg_images>Etre_EnhancedWysiwyg_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <etre_enhancedwysiwyg>
                    <file>etre_enhancedwysiwyg.xml</file>
                </etre_enhancedwysiwyg>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <enhancedwysiwyg>
                        <type>model</type>
                        <class>etre_enhancedwysiwyg/observer</class>
                        <method>insertAdditional</method>
                    </enhancedwysiwyg>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <wysiwyg_path>
                <use>standard</use>
                <args>
                    <frontName>wysiwyg</frontName>
                    <module>Etre_EnhancedWysiwyg</module>
                </args>
            </wysiwyg_path>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <enhancedwysiwyg before="Mage_Adminhtml">Etre_EnhancedWysiwyg_Adminhtml</enhancedwysiwyg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>