<?xml version="1.0"?>
<config>
    <modules>
        <Etre_Botblock>
            <version>0.1.0</version>
        </Etre_Botblock>
    </modules>
    <global>
        <models>
            <etre_botblock>
                <class>Etre_Botblock_Model</class>
                <resourceModel>etre_botblock_resource</resourceModel>
            </etre_botblock>
            <etre_botblock_resource>
                <class>Etre_Botblock_Model_Resource</class>
            </etre_botblock_resource>
        </models>
        <helpers>
            <etre_botblock>
                <class>Etre_Botblock_Helper</class>
            </etre_botblock>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <etre_botblock>
                        <class>Etre_Botblock_Model_Observer</class>
                        <method>BlockerInit</method>
                    </etre_botblock>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
</config>